<% manufacturer = Manufacturer.where(webmotors_id: params[:webmotors_manufacturer_id])[0] %>
<% models = Model.where(manufacturer_id: manufacturer.id) %>

<a href="/"><< Voltar</a>
<ul>
  <% models.each do |model| %>
    <li><%= model.name %></li>
  <% end %>
</ul>
